@use "../../foundation/variables";



.c-container {
    @include variables.media-pc {
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        position: relative;
    }
}