@use "../../foundation/variables";

.c-sideMenu__li {
    font-size: 24px;
    margin-left: 46px;



    &__menu {
        font-size: 20px;
        margin: 40px auto 60px 8%;
        line-height: 50px;

        @include variables.media-tb {
            margin-top: 32px;
        }
    }
}


.c-sideMenu__title {
    display: none;

    @include variables.media-pc {
        display: block;
        color: variables.$color-gray;
        font-size: 34px;
        position: absolute;
        top: 84px;
        right: 234px;
        margin: 0;
        z-index: 6;
    }
}