@use "../../foundation/variables";



.p-footerLink {
    display: flex;
    justify-content: center;
    padding: 16px;

    @include variables.media-tb {

        padding: 30px;

    }
}


.p-footerLink__text {
    color: variables.$color-white;
    font-size: 18px;

    @include variables.media-tb {

        font-size: 20px;
    }
}

.p-footer__copy {
    color: variables.$color-white;
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    @include variables.media-tb {

        bottom: 24px;

    }
}