@use "../../foundation/variables";


.p-mainCard__TakeOut {
    background: url(../../../img/TakeOut_back.png);

    @include variables.media-tb {
        margin: 40px 20px 40px 40px;
    }

}


.p-mainCard__EatIn {
    background: url(../../../img/EatIn_back.png);

    @include variables.media-tb {
        margin: 40px 40px 40px 20px;
    }

}

.p-mainCard__TakeOut,
.p-mainCard__EatIn {
    flex: 1;
    margin: 20px;
    width: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}