@use "../foundation/variables";

.l-mainMap {
    height: auto;
    width: auto;
    background: url(../../../img/map-img.png);
    margin-top: 49px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    @include variables.media-tb {
        margin-top: 0;
        // height: 415px;
        height: auto;
    }

    @include variables.media-pc {
        margin-top: 0;
        // height: 649px;
        height: auto;
    }
}