@use "../foundation/variables";




.l-wrapper {
    @include variables.media-pc {
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        position: relative;
    }
}